/* index.html */
.odin{
    color: blue;
    font-family: 'Times New Roman', Times, serif;
    font-size: 40px;
}

.food{
    font-size: 20px;
    font-family:Arial, Helvetica, sans-serif ;
    background-color: black;
    color: white;
}
/* pizza.html */

.pizsize{
    height: auto;
    width: 250px;
}

.des{
    font-size: 20px;
    color: #ff9900e7;
}

.whatabout{
    background-color: hsl(0, 0%, 0%);
    color: hsl(0, 0%, 100%);
}
/*tangy-glazed-ham.html*/
